header {
    background: #BBBBBB;
}
.caixa{
    position: relative;
    width: 940px;
    margin: 0 auto;
}
nav {
    position: absolute;
    top: 110px;
    right: 0 ;
}

nav li{
    display: inline;
    margin: 0 0 0 15px;
}
nav a {
    text-transform: uppercase;
    color: #000000;
    font-weight: bold ;
    font-size: 22px;
    text-decoration: none;
}
nav a:hover{
    color: darkgoldenrod;
    text-decoration: underline;
    
}
body{
	background: #f8f8f8;
}

#jpg{
	width: 50% ;
	margin-left: 25%;

}
h1{
	
	padding-left: 20px solid ;
	
}
p{
	text-align: center;
}
#missao {
	font-size:20px
}
em strong{
	color: red;
}
.itens{
	font-style: italic;
}
.Beneficios{
	background:#747774;
}
.imagembeneficios{
	width: 50%;
}
ul{
	display: inline-block;
	vertical-align: top;
	width: 20%;
	margin-right:15% ;
}

h2{
	text-align: center;
}
h3{
	text-align: center;
}
footer{
    text-align: center;
    background: url("bg.jpg");
    padding: 40px 0;
}